.content {
  padding-top: 304px;

  background-image: url("../img/moon-desktop.png");
  background-repeat: no-repeat;
  background-position: 12px 48px;
  background-size: 285px 218px;

  @media (min-width: $bp-tablet) {
    padding-top: 145px;

    background-position: -6px 149px;
    background-size: 403px 309px;
  }

  @media (min-width: $bp-desktop) {
    background-position: 190px 149px;
  }
}

.content__title {
  margin: 0;
  margin-bottom: 37px;
  padding-right: 20px;
  padding-left: 20px;

  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #d0ca9e;
  letter-spacing: 0.54px;

  @media (min-width: $bp-tablet) {
    padding-left: 33.5%;

    font-size: 62px;
    line-height: 69.5px;
    letter-spacing: 1px;
  }

  @media (min-width: $bp-desktop) {
    padding-left: 36.7%;
  }
}
