.content-list {
  @include list-reset;

  @media (min-width: $bp-tablet) {
    display: flex;
  }
}

.content-list__title {
  max-width: 155px;
  margin: 0;
  margin-bottom: 23px;

  font-weight: 400;
  font-size: 26px;
  line-height: 29px;
  font-family: "Roboto-Black", "Arial", sans-serif;
  color: #262423;
}


.content-list__item {
  margin-bottom: 85px;
  padding-right: 20px;
  padding-left: 20px;

  background-image: linear-gradient(red 0, red 1px, transparent 1px, transparent 29px, red 29px, red 30px, transparent 30px, transparent 58px, red 58px, red 59px, transparent 59px, transparent 87px, red 87px, red 88px);
  background-repeat: no-repeat;
  background-size: 100% 88px;

  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  @media (min-width: $bp-tablet) {
    flex-grow: 1;
  }

  &:first-child .content-list__title {
    max-width: 170px;
    margin-bottom: 52px;
  }

  &:first-child {
    margin-bottom: 75px;

    @media (min-width: $bp-tablet) {
      padding-left: 33.5%;
    }

    @media (min-width: $bp-desktop) {
      padding-left: 36.7%;
    }
  }

  &:last-child {
    @media (min-width: $bp-tablet) {
      padding-right: 34px;
      padding-left: 0;
    }

    @media (min-width: $bp-desktop) {
      padding-right: 350px;
    }
  }
}

.content-list__text {
  max-width: 255px;
  margin: 0;

  @media (min-width: $bp-tablet) {
    max-width: 213px;
  }
}

@keyframes fade-in {
  0% {
    background-image: none;
    background-size: 0;
  }

  25% {
    background-image: none;
    background-size: 25% 88px;
  }

  50% {
    background-size: 50% 88px;
  }

  75% {
    background-size: 75% 88px;
  }

  100% {
    background-size: 100% 88px;
  }
}
